{
  "branch": "master",
  "verifyConditions": [],
  "prepare": [],
  "publish": [
    {
      "path": "@semantic-release/github",
      "assets": [
        {"path": "test_jars/java-sdk-*-jar-with-dependencies.txt", "label": "Release JAR"}
      ]
    }
  ]
}
