{
  "branch": "master",
  "verifyConditions": [],
  "prepare": [],
  "publish": [
    {
      "path": "@semantic-release/github",
      "assets": [
        {"path": "README.md", "label": "${TRAVIS_BRANCH}_test"}
      ]
    }
  ]
}
