{
  "branch": "master",
  "verifyConditions": [],
  "prepare": [],
  "publish": [
    "@semantic-release/github",
    {
      "path": "@semantic-release/exec",
      "cmd": "bumpversion --current-version ${lastRelease.version} --new-version ${nextRelease.version} patch",
      "assets": [
        {"path": "java-sdk/build/libs/java-sdk-*-jar-with-dependencies.txt", "label": "Release JAR"}
      ]
    }
  ]
}
